@model IEnumerable<QuanLyXe.Models.LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;color:#429841;">Quản Lý Loại Xe</h2>

<p>
    <a href="@Url.Action("Create","LoaiSanPhams")" class="btn btn-success btn-sm"><i class="fas fa-plus-square"></i>Thêm Mới</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoai)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.MaLoai }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLoai }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLoai })*@
            <a href="@Url.Action("Edit","LoaiSanPhams", new {id=item.MaLoai})" class="btn btn-warning btn-sm" style="width:93px"><i class="fas fa-edit"></i>Chỉnh Sửa</a>
            <a href="@Url.Action("Details","LoaiSanPhams",new {id=item.MaLoai})" class="btn btn-info btn-sm" style="width:93px;text-align:left"><i class="fas fa-info-circle"></i>Hiển Thị</a>
            <a href="@Url.Action("Delete","LoaiSanPhams",new {id=item.MaLoai})" class="btn btn-danger btn-sm" style="width:93px;text-align:left"><i class="fas fa-trash-alt"></i>Xóa</a>
        </td>
    </tr>
}

</table>
