@model QuanLyXe.Models.NghiepVu

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center">Chỉnh Sửa Nghiệp Vụ</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Nghiệp Vụ</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaNghiepVu)

        <div class="form-group">
            @Html.LabelFor(model => model.TenNghiepVu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNghiepVu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenNghiepVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-info btn-xs" style="background-color:#158415"><i class="fas fa-save"></i>Lưu</button>
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index","NghiepVus")" class="btn btn-info btn-sm"><i class="fa fa-angle-left"></i>Trở Về Quản Lý</a>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
